.card {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  align-items: stretch;
  justify-content: center;
  gap: 2.4rem 2rem;
  margin: 4.8rem 0;
}

.character {
  overflow: hidden;
  border-radius: 4px;
  min-height: 244px;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.links {
  color: #000;
  transition: all 0.4s;
}

.links:hover {
  color: #00505a;
  opacity: 0.9;
}

.image {
  overflow: hidden;
  object-fit: cover;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1.2rem 1.6rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.87;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-wrap: wrap;
  word-break: break-all;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.status {
  font-size: 1.4rem;
  opacity: 0.86;
}
