/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* variables */

:root {
  --backgound-color: #fcfcfc;
  --pure-white: #fff;
  --accent: #00b0c8;
  --button-background: #f2f9fe;
  --gray: rgba(0, 0, 0, 0.6);

  --footer-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);

  --first-card-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  --secound-card-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
  --third-card-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);

  --first-button-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  --secound-button-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
  --thrid-button-shadow: 0 1px 18px rgba(0, 0, 0, 0.12);
}

/* general styles */

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

svg {
  transition: 0.4s;
}

body {
  background-color: var(--backgound-color);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1em;
}

/* nav menu */

.header {
  width: 100%;
  padding: 1em;
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--pure-white);
}

.nav-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links-list {
  display: flex;
  gap: 20px;
}

.nav-links-list svg:hover {
  fill: var(--accent);
}

/* filters */

.filters-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 34px;
  gap: 2em;
}

.filters-items {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 16px 20px;
}

.filters-items > select,
.filters-items > input {
  padding: 0.9em 1em;
  outline: none;
  border-radius: 0.3em;
  background-color: transparent;
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: var(--gray);
}

.filters-items > select:hover,
.filters-items > input:focus,
.filters-items > input:hover {
  border-color: var(--accent);
}

.filters-items > input::placeholder {
  color: var(--gray);
}

/* characters card */

.characters-insert {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  align-items: start;
  justify-content: center;
  margin-top: 38px;
  gap: 24px 20px;
}

.chars-container {
  max-width: 240px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--first-card-shadow), var(--secound-card-shadow),
    var(--third-card-shadow);
  background-color: #fff;
}

.chars-container:hover h3 {
  color: var(--accent);
}

.char-info {
  padding: 1em;
}

.char__picture {
  transition: 0.5s transform;
}

.char__picture:hover {
  transform: scale(1.1);
}

.char-info h3 {
  font-size: 1.4rem;
  text-transform: capitalize;
  transition: 0.4s;
}

.char-info hr {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.3);
  margin-block: 8px;
}

.char-status {
  display: flex;
  gap: 0.3em;
  flex-direction: column;
}

.char-status span {
  display: block;
  text-transform: capitalize;
  color: var(--gray);
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.button-load-more {
  display: block;
  outline: none;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  padding: 0.8em 1.2em;
  cursor: pointer;
  box-shadow: var(--first-button-shadow), var(--secound-button-shadow),
    var(--thrid-button-shadow);
  color: var(--accent);
  background-color: var(--button-background);
}

/* footer */

.footer {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: var(--footer-shadow);
  background-color: var(--pure-white);
}
