/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* variables */

:root {
  --backgound-color: #fcfcfc;
  --pure-white: #fff;
  --accent: #00b0c8;
  --first-card-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  --secound-card-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
  --third-card-shadow: 0 3px 4px rgba(0, 0, 0, 0.12);
}

/* general styles */

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--backgound-color);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1em;
}

/* nav menu */

.header {
  width: 100%;
  padding: 1em;
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--pure-white);
}

.nav-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links-list {
  display: flex;
  gap: 20px;
}

.nav-links-list svg:hover {
  fill: var(--accent);
}
